In [3]:
import sklearn as sk
import seaborn as sb
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

In [4]:
df = pd.read_csv("dataset.csv")

In [5]:
# A base ta limpinha
print(df)
df.duplicated().sum()
df.isnull().sum()

         region    category           parameter  mode powertrain  year  \
0     Australia  Historical            EV sales  Cars        BEV  2011
1     Australia  Historical      EV stock share  Cars         EV  2011
2     Australia  Historical      EV sales share  Cars         EV  2011
3     Australia  Historical            EV stock  Cars        BEV  2011
4     Australia  Historical            EV stock  Cars        BEV  2012
...         ...         ...                 ...   ...        ...   ...
3793      World  Historical            EV stock  Cars        BEV  2023
3794      World  Historical            EV sales  Cars        BEV  2023
3795      World  Historical      EV sales share  Cars         EV  2023
3796      World  Historical      EV stock share  Cars         EV  2023
3797      World  Historical  Electricity demand  Cars         EV  2023

          unit         value
0     Vehicles  4.900000e+01
1      percent  3.900000e-04
2      percent  6.500000e-03
3     Vehicles  4.900000e+01
4     Vehicles  2.200000e+02
...        ...           ...
3793  Vehicles  2.800000e+07
3794  Vehicles  9.500000e+06
3795   percent  1.800000e+01
3796   percent  3.200000e+00
3797       GWh  9.700000e+04

[3798 rows x 8 columns]

region        0
category      0
parameter     0
mode          0
powertrain    0
year          0
unit          0
value         0
dtype: int64

In [6]:
# Renomear as colunas em pt-br pra facilitar a vida
df = df.rename(columns={
    'region': 'regiao',
    'category': 'categoria',
    'parameter': 'parametro',
    'mode': 'tipo_veiculo',
    'powertrain': 'motorizacao',
    'year': 'ano',
    'unit': 'unidade',
    'value': 'valor'
})

In [ ]:

regiao_continente = {
    'World': 'World',
    'Europe': 'Europe',
    'EU27': 'Europe',
    'France': 'Europe',
    'Germany': 'Europe',
    'Italy': 'Europe',
    'United Kingdom': 'Europe',
    'Spain': 'Europe',
    'Portugal': 'Europe',
    'Norway': 'Europe',
    'Sweden': 'Europe',
    'Finland': 'Europe',
    'Denmark': 'Europe',
    'Iceland': 'Europe',
    'Poland': 'Europe',
    'Netherlands': 'Europe',
    'Belgium': 'Europe',
    'Austria': 'Europe',
    'Luxembourg': 'Europe',
    'Switzerland': 'Europe',
    'Ireland': 'Europe',
    'Czech Republic': 'Europe',
    'Slovakia': 'Europe',
    'Hungary': 'Europe',
    'Slovenia': 'Europe',
    'Croatia': 'Europe',
    'Bulgaria': 'Europe',
    'Greece': 'Europe',
    'Rest of the world': 'Outros',
    'Estonia': 'Europe',
    'Latvia': 'Europe',
    'Lithuania': 'Europe',
    'Romania': 'Europe',
    'Cyprus': 'Europe',
    'Seychelles': 'Africa',
    'South Africa': 'Africa',
    'Canada': 'America',
    'USA': 'America',
    'Mexico': 'America',
    'Brazil': 'America',
    'Chile': 'America',
    'Colombia': 'America',
    'Costa Rica': 'America',
    'China': 'Asia',
    'India': 'Asia',
    'Japan': 'Asia',
    'Korea': 'Asia',
    'Israel': 'Asia',
    'Turkey': 'Asia',
    'Turkiye': 'Asia', 
    'United Arab Emirates': 'Asia',
    'Australia': 'Oceania',
    'New Zealand': 'Oceania',
    'Rest of the world': 'Outros'
    
}

df['continente'] = df['regiao'].map(regiao_continente).fillna('Outros')
print(df['continente'].value_counts())

continente
Europe     2152
Asia        592
America     515
Oceania     174
World       154
Outros      124
Africa       87
Name: count, dtype: int64

In [16]:
# Transformar a coluna valor (quantidade de veículos vendidos) em uma variável categórica, dividindo as vendas em faixas: “baixo”, “médio” e “alto” para classificação.
# Usamos a função pd.qcut() para criar as três faixas baseadas nos tercis (ou seja, dividindo os dados em três partes iguais).
# Criando a variável-alvo: faixa de vendas
df_vendas['faixa_vendas'] = pd.qcut(df_vendas['valor'], q=3, labels=['baixo', 'medio', 'alto'])

# Conferindo o resultado
print(df_vendas[['regiao', 'ano', 'valor', 'faixa_vendas']].sample(10))
print(df_vendas['faixa_vendas'].value_counts())
df.to_csv('dataset_com_continente.csv', index=False)

           regiao   ano      valor faixa_vendas
1305       France  2016    23000.0         alto
2175       Latvia  2018       73.0        baixo
1599      Iceland  2015      170.0        baixo
758        Cyprus  2021       98.0        baixo
1850       Israel  2020     5400.0         alto
446        Canada  2020    37000.0         alto
1432      Germany  2018    36000.0         alto
3772        World  2021  4700000.0         alto
2331  Netherlands  2015    39000.0         alto
750       Croatia  2023      990.0        medio
faixa_vendas
baixo    449
alto     448
medio    445
Name: count, dtype: int64

In [18]:
df_limpo = pd.read_csv("dataset_com_continente.csv")
print(df_vendas.head())
print(df_vendas.columns)

       regiao   categoria parametro tipo_veiculo motorizacao   ano   unidade  \
0   Australia  Historical  EV sales         Cars         BEV  2011  Vehicles
6   Australia  Historical  EV sales         Cars        PHEV  2012  Vehicles
9   Australia  Historical  EV sales         Cars         BEV  2012  Vehicles
10  Australia  Historical  EV sales         Cars         BEV  2013  Vehicles
13  Australia  Historical  EV sales         Cars        PHEV  2013  Vehicles

    valor continente faixa_vendas
0    49.0    Oceania        baixo
6    80.0    Oceania        baixo
9   170.0    Oceania        baixo
10  190.0    Oceania        baixo
13  100.0    Oceania        baixo
Index(['regiao', 'categoria', 'parametro', 'tipo_veiculo', 'motorizacao',
       'ano', 'unidade', 'valor', 'continente', 'faixa_vendas'],
      dtype='object')